/*
z-index:
- 100 -> board fruit
- 150 -> board bottom border
- 190 -> gun arrow
- 200 -> gun fruit
*/
body, html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: url(https://images.photowall.com/products/52980/green-leaves-background.jpg?h=699&q=85);
    /* background: url(https://media.npr.org/assets/img/2013/06/04/istock_000019329595large_wide-623c2cb4aeadba78334e87806b3fb0ab5c7f1764.jpg); */
    background-size: cover;;
    font-family: 'Share Tech Mono', monospace;
}

#board {
    display: block;
    width: 320px;
    height: 500px;
    backdrop-filter: blur(2px) sepia(0.50);
    border: 20px solid black;
    position: relative;
    overflow: hidden;
    border-bottom: none;
    padding-bottom: 20px;
}

#board:after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    background: black;
    position: absolute;
    bottom: 0;left:0;
    z-index:150;
}

.fruit {
    z-index: 100;
    width: 40px;
    height: 40px;
    position: absolute;
    background: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius:100%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: 5px solid black;
}

.fruit-strawberry {
    background-image: url('gfx/strawberry.png');
    border-color: #cb1602;
}

.fruit-orange {
    background-image: url('gfx/orange.png');
    border-color: #fcb73c;
}

.fruit-bannana {
    background-image: url('gfx/bannana.png');
    border-color: #f9e224;
}

.fruit-pear {
    background-image: url('gfx/pear.png');
    border-color: #adfc92;
}

.fruit-watermelon {
    background-image: url('gfx/watermelon.png');
    border-color: #058e48;
}

.fruit-frozen {
    background-image: url('gfx/snowflake.png');
    border-color: black;
    background-color: black;
}

.rotating {
    animation-name: rotating;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotating {
    from {transform: translate(-50%, -50%) rotate(0deg);}
    to {transform: translate(-50%, -50%) rotate(360deg);}
}

.falling {
    animation-name: falling;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
@keyframes falling {
    from {transform: translate(-50%, -50%);}
    to {transform: translate(-50%, 600px);}
}

.resting {
    z-index: 200;
}

.gun {
    z-index: 190;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(90deg);
    transform-origin: 50% 100%;
    
    width: 20px;
    height: 60px;
    background: url('gfx/arrow.png') center center no-repeat;;
    background-size: 100% 100%;
}

.gun.killed {
    background: url('gfx/skull.png') center center no-repeat;
    transform-origin: 0 0;
    background-size: contain;
    width: 64px;
    height: 64px;
    transform: translate(-50%, -50%);

}


main {
/* background: red; */
display: inline-block;
position: absolute;
left: 50%; top: 50%;
transform: translate(-50%, -50%);

/* background: url(https://c8.alamy.com/comp/W2T079/background-of-frozen-berries-top-view-of-raspberries-and-blueberries-W2T079.jpg); */
background-size: 500px;
background-position: center center;
background-repeat: no-repeat;
border: 10px solid white;
border-radius: 5px;
}

nav {
    background: white;
    padding: 10px;
    width: 360px;
    box-sizing: border-box;
}

nav ul {
margin: 0;
padding: 0;
list-style: none;
display: flex;
}

nav ul li {
    flex: 1 0;
    /* width: 50%; */
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;;
    font-size: 18pt;
    line-height: 150%;
}

#hud_level {
    display: block;
    background: white;
    color: #999;
    padding-bottom: 8px;
    text-align: center;
}